.background
{
    background: url(../../assets/images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar
{
    display: flex;
    justify-content: flex-end;
}
.navLink
{
    background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.062));
    padding: 20px 30px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.navLink:hover
{
    cursor: pointer;
    color: blue;
}
.message
{
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.25);
    color: #f1f1f1;
}
.message h2
{
    font-weight: bold;
}
@media screen and (min-width:320px) and (max-width: 375px) 
{
    .message
    {
        padding: 20px;
        margin-top: 220px;
    }
    .message h2
    {
        font-size: 1.5em;
    }
    .message p
    {
        font-size: 1.2em;
    }
}
@media screen and (min-width:376px) and (max-width: 425px) 
{
    .message
    {
        padding: 20px;
        margin-top: 220px;
        line-height: 1.2;
    }
    .message h2
    {
        font-size: 1.5em;
    }
    .message p
    {
        font-size: .9em;
    }
}
@media screen and (min-width:426px) and (max-width: 768px) 
{
    .message
    {
        padding: 40px;
        margin-top: 280px;
        line-height: 2;
    }
    .message h2
    {
        font-size: 2.3em;
    }
    .message p
    {
        font-size: 1.6em;
    }
}
@media screen and (min-width:769px) and (max-width: 1024px) 
{
    .navLink
    {
        font-size: 1.4em;
    }
    .message
    {
        padding: 30px;
        margin-top: 300px;
    }
    .message h2
    {
        font-size: 2.8em;
    }
    .message p
    {
        font-size: 1.7em;
    }
}
@media screen and (min-width:1025px) and (max-width: 1439px) 
{
    .navLink
    {
        font-size: 1.3em;
    }
    .message
    {
        margin-top: 180px;
        padding: 40px;
        line-height: 2.5;
    }
    .message h2
    {
        font-size: 2.5em;
    }
    .message p
    {
        font-size: 1.4em;
    }
}
@media screen and (min-width:1440px)
{
    .navLink
    {
        font-size: 1.8em;
    }
    .message
    {
        margin-top: 240px;
        padding: 45px;
        line-height: 3;
    }
    .message h2
    {
        font-size: 3.5em;
    }
    .message p
    {
        font-size: 2.5em;
    }
}