form
{
    width: 400px;
    background-color: white;
}
form h1
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
@media (min-width:320px) and (max-width: 409px) 
{
    div.buttons
    {
        flex-direction: column;
        width: 20%;
    }
}