.parentFlex
{
    display: flex;
    justify-content: flex-end;
}
.form
{
    height: max-content;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.h1
{
    font-weight: bolder;
}
.image
{
    width: 90%;
    margin: 5px auto;
}
.childFlex button, .childFlex a
{
    width: 43%;
}
@media screen and (min-width: 320px) and (max-width: 374px) 
{
    .form
    {
        margin-top: 20vh;
    }
    .childFlex button, .childFlex a
    {
        width: 40%;
    }
}
@media screen and (min-width: 375px) and (max-width: 425px) 
{
    .form
    {
        margin-top: 20vh;
    }
    .childFlex button, .childFlex a
    {
        width: 42%;
    }
}
@media screen and (min-width: 426px) and (max-width: 767px) 
{
    .form
    {
        margin-top: 20vh;
    }
    .childFlex button, .childFlex a
    {
        width: 43%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px)
{
    .form
    {
        margin-top: 15vh;
    }
} 
@media screen and (min-width: 1025px) and (max-width: 1440px)
{
    .form
    {
        margin-top: 13vh;
    }
}
@media screen and (min-width: 1441px) 
{
    .form
    {
        margin-top: 20vh;
    }
}