form
{
    width: 450px;
    margin: 15vh 5vh;
    background-color: white;
}
form h1
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 409px) 
{
    div.buttons
    {
        flex-direction: column;
        width: 100%;
    }   
}