.sideSection
{
    position: fixed;
    left: -350px;
    margin-top: -10px;
    color: white;
    width: 350px;
    height: 100vh;
    background-color: black;
    transition: 0.5s;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}
.image
{
    width: 100%;
}
.sidebarList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebarList li
{
    margin: 0;
    padding: 0;
}
.navLink
{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.sideOption
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    padding: 15px;
}
.sideOption:hover
{
    background-color: #ddd;
    color: black;
}
.sideIcons
{
    font-size: 25px;
}
.h3
{
    font-size: 1.5em;
    padding-top: 10px;
}
.sideSection.open 
{
    left: 0;
}
.dropdown
{
    transition: .5s;
}
.dropdownIcon
{
    margin-left: auto;
}
.dropdownContent
{
    transition-timing-function: ease-in;
}
.dropdownContent li
{
    margin-left: 15px;
}
@media screen and (min-width:320px) and (max-width:425px) 
{
    .sideSection
    {
        width: 250px;
    }
    .sideIcon
    {
        font-size: 20px;
        margin: 2px 0px;
    }
    .h3
    {
        font-size: 1.2em;
    }
}
@media screen and (min-width:426px) and (max-width:768px) 
{
    .sideSection
    {
        width: 250px;
    }
    .sideIcon
    {
        font-size: 20px;
        margin: 2px 0px;
    }
    .h3
    {
        font-size: 1.2em;
    }
}