.parent-flex
{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}
.history
{
    height: auto;
}
.upcoming
{
    align-items: flex-end;
    margin-left: auto;
    width: 50%;
    height: auto;
}
.upcoming .table
{
    margin-left: 10px;
    margin-top: 15px;
}
.history h1, .upcoming h1
{
    margin-left: 15px;
    font-weight: 500;
}
.history, .upcoming
{
    border-left: 2px solid lightgrey;
}

@media screen and (min-width:320px) and (max-width: 1024px) 
{
    .parent-flex
    {
        flex-direction: column;
        gap: 40px;
    }
    .history, .upcoming
    {
        width: 100%;
    }
    .history h1, .upcoming h1
    {
        margin-left: 10px;
    }
    .upcoming .table
    {
        margin: 10px 7px;
    }
}