.navbar
{
    height: 60px;
}
.link
{
    padding: 15px;
    text-decoration: none;
    color: white;
}
.link:hover
{
    cursor: pointer;
    color: purple;
}
@media screen and (min-width:1024px) and (max-width: 1440px) 
{
    .link
    {
        font-size: 1.3em;
    }
}