.sideSection
{
    margin-top: 0;
    color: white;
    width: 350px;
    height: calc(100vh - 60px);
    background-color: black;
}
.sidebarList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebarList li
{
    margin: 0;
    padding: 0;
}
.sideOption
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}
.sideOption:hover
{
    background-color: purple;
}
.sideIcons
{
    font-size: 25px;
}
.image
{
    width: 100%;
}
.navLink
{
    text-decoration: none;
    color: inherit;
}
.dropdownContent li
{
    margin-left: 20px;
}
.h3
{
    font-size: 1.5em;
    padding-top: 10px;
}
@media screen and (min-width:320px) and (max-width:425px) 
{
    .sideSection
    {
        width: 100%;
    }
}