.parentFlex
{
    display: flex;
    justify-content: flex-end;
}
.form
{
    height: max-content;
    width: 450px;
}
.h1
{
    font-weight: bold;
}
.image
{
    width: 300px;
    margin: 10px auto;
}